Onboarding-SwiftUI.xcodeproj/xcuserdata/poolit.xcuserdatad/xcschemes/xcschememanagement.plist
Onboarding-SwiftUI.xcodeproj/project.xcworkspace/xcuserdata/poolit.xcuserdatad/UserInterfaceState.xcuserstate
Onboarding-SwiftUI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Onboarding-SwiftUI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store
